.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .flex-item {
    width: 12rem;
    height: 10rem;
    margin-top: 1rem;
    background: tomato;
    color: white;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    line-height: 10rem;
  }
}
